// ブレイクポイント
$breakpoint-tb: 768px;
$breakpoint-sp: 480px;

// boxのサイズ
$langBoxSize: 8.4rem;
$boxSize: 6.8rem;


// 色
$boxBackground:#666666;

$background:#f5f5f5;
$htmlcolor: #e65127;
$csscolor: #0c73b8;
$jscolor: #e7a328;
