@import "sanitize";
@import "variable";
@import "mixin";

html {
  font-size: 62.5%;
}
.wrapper{
  background-color: $background;
}
.box {
  width: $boxSize;
  height: $boxSize;
  border-radius: 50%;
  background-color: $boxBackground;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.8rem gray;
  transform: translate(-50%,-50%);
  user-select: none;
}
// .box:hover {
//   z-index: 1;
// }
.htmlBox {
  width: $langBoxSize;
  height: $langBoxSize;
  position: absolute;
  top: 26%;
  left: 50%;
  background-color: $boxBackground;
    // background-color: $htmlcolor;
 }
.cssBox {
  width: $langBoxSize;
  height: $langBoxSize;
  position: absolute;
  top: 60%;
  left: 30%;
  background-color: $boxBackground;
    // background-color: $csscolor;
}

.jsBox {
  width: $langBoxSize;
  height: $langBoxSize;
  position: absolute;
  top: 60%;
  left: 70%;
  background-color: $boxBackground;
    // background-color: $jscolor;
}

.htmlItem {
  position: absolute;
  // opacity: 0.9;
  // background-color: $htmlcolor;
}

.cssItem {
  position: absolute;
  // opacity: 0.9;
  // background-color: $csscolor;
}

.jsItem {
  position: absolute;
  // opacity: 0.9;
  // background-color: $jscolor;
}

.boxText {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 4.8rem;
  text-align: center;
  margin: 0;
}

.languageBoxText {
  font-size: 1.6rem;
}

.active {
  top: 10%;
}

#active {
  top: 10%;
}
